@chraset "utf-8";

body {
    font-size: 14px;
    font-weight: 0.2;
    font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

.inner {
    width: 90%;
}

h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.free {
    background-color: #fff;
}

h2 {
    font-size: 36px;
}

.hoge p {
    width: 194px;
    margin: 96px auto 29px auto;
    color: #fff;
    padding: 8px 15px;
    background-color: #72C9F3;
}

.hoge h2 {
    text-align: center;
    border-bottom: 10px #1E1E1E;
}

footer {
    background-color: #1E1E1E;
    color: #fff;
    text-align: center;
}

ul {
    padding-top: 100px;
    margin-bottom: 100px;
}

small {
    font-size: 12px;
}